@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html:lang(ar) {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: normal;
    -webkit-font-smoothing: antialiased;
  }
}